{{ template "header" . }}
<main>
  <h1>About Mozhi</h1>
  <h2>What is Mozhi?</h2>
  <p>
    Mozhi is an alternative frontend for many translation engines such as
    google, yandex, duckduckgo, libretranslate and more!
  </p>
  <h2>Why would I use this over just directly accessing the engine in question</h2>
  <p>
    There are many reasons why using an alternative-frontend like mozhi is
    superior to directly accessing the service in question, and the biggest and
    most obvious reason is of course, privacy.
  </p>
  <p>However, there are other reasons to use it as well.</p>
  <p>
    In many cases, different translation engines can give vastly different
    results for the given text, and in some cases where you need the most
    accurate/poetic translation, having the ability to have the output of all
    the engines right in front of you is extremely useful.
  </p>
</main>
{{ template "footer" . }}
