<div id="definitions_and_translations">
  <div class="translations">
    {{ if or .Translation.TargetSynonyms .Translation.SourceSynonyms }}
	<span class="def_type">Synonyms &amp; Equivalent Words</span>
    <ul>
      {{ if .Translation.TargetSynonyms }}
      <li>
        <span class="syn_type">Synonyms for {{.Translation.OutputText}}</span>
        <span class="syn">{{ range $index, $key := .Translation.TargetSynonyms }}{{ if eq $key "" }}{{ else }}{{ if eq $index 0 }}{{ else }}, {{ end }}{{.}}{{ end }}{{ end }}</span>
      </li>
      <br>
      {{ end }}
      {{ if .Translation.SourceSynonyms }}
      <li>
        <span class="syn_type">Synonyms for {{.OriginalText}}</span>
        <span class="syn">{{ range $index, $key := .Translation.SourceSynonyms }}{{ if eq $key "" }}{{ else }}{{ if eq $index 0 }}{{ else }}, {{ end }}{{.}}{{ end }}{{ end }}</span>
      </li>
      <br>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
